<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Playlists</h1>
    {% for item in playlists %}
        {% set thumbnail = item['snippet']['thumbnails']['medium']['url'] %}
        {% set title = item['snippet']['title'] %}
        {% set id = item['id'] %}
        <div>
            <a href = "{{ url_for('videos', pid=id) }}">
                <figure>
                    <img src = "{{ thumbnail }}">
                    <figcaption>{{ title }}</figcaption>
                </figure>
            </a>
        </div>

    {% endfor %}
</body>
</html>